.chart {
  max-width: 150px;
  align-items: center;
  padding-bottom: 24px;

  &-main {
    position: relative;
    // width: 100%;
    padding: none;
  }

  &-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-0.4em) translateX(-50%);
  }

  & .language {
    padding-top: 12px;
    text-align: center;
    margin: 0;
  }
}
